In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode, split, regexp_replace
from pyspark.sql.functions import col, split, explode, regexp_replace


from pyspark.sql.functions import lit, col, when
from pyspark.sql.types import StringType
from pyspark.ml.feature import FeatureHasher
import os
from pyspark.sql.functions import col, when, lit, isnan
from pyspark.sql.functions import lit, nanvl, isnan, when, avg
import category_encoders as ce
import pandas as pd
import itertools
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from category_encoders import CatBoostEncoder
import pickle
from pyspark.sql import SparkSession
from pyspark.sql.functions import pandas_udf, PandasUDFType
from pyspark.sql.types import DoubleType, ArrayType
import numpy as np
import pandas as pd
import sklearn
sklearn.set_config(transform_output='pandas')
from pyspark.sql.functions import array
from pyspark.sql import functions as F
from pyspark.sql import SparkSession, types as T
from pyspark.sql.functions import udf
from ast import literal_eval

from pyspark.sql import DataFrame
import os
from pyspark.sql import functions as sf
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, DoubleType
import pyspark
from pyspark.sql import SparkSession
# from geospark.register import upload_jars
# from geospark.register import GeoSparkRegistrator
# from geospark.core.SpatialRDD import PolygonRDD, PointRDD
# from geospark.core.enums import FileDataSplitter
# from geospark.core.enums import IndexType
# from geospark.core.geom.envelope import Envelope
# from geospark.core.spatialOperator import RangeQuery
# from geospark.core.formatMapper.shapefileParser import ShapefileReader
# from geospark.sql.types import GeometryType
# from geospark.register import sparkJVM
# import re
# upload_jars()
#
#
# spark = SparkSession.builder.appName("Spark_v1")    .config("spark.default.parallelism", 176*3) \
#     .config("spark.sql.shuffle.partitions", 176*3) \
#     .config("spark.executor.memory", "50g") \
#     .config("spark.executor.cores", "5") \
#     .config("spark.driver.memory", "10g") \
#     .config("spark.driver.maxResultSize", "1300g") \
#     .getOrCreate()
import os

# setup arguments
#os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-sql-kafka-0-10_2.11:2.4.0'

# initialize spark
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, BooleanType


ram = 16

spark = SparkSession. \
    builder. \
    appName('spark_first_run') \
    .config("spark.executor.memory", f"{ram}g") \
    .config("spark.driver.maxResultSize", f"{ram}g") \
    .config("spark.driver.memory", f"{ram}g") \
    .config("spark.executor.memoryOverhead", f"{ram}g") \
    .config("spark.sql.debug.maxToStringFields", "100000") \
    .getOrCreate()


#    .config("spark.driver.memory", "10g") \

#    .config("spark.executor.memoryOverhead", "10g") \




# Register Sedona functions to Spark






from scipy.stats import t
from pyspark.sql import SparkSession

from pyspark.sql.functions import udf, lit

import pandas as pd
from ast import literal_eval
import json
from pyspark.sql.functions import udf
import pandas as pd
import shutil
from pyspark.sql.functions import udf
from pyspark.sql.functions import udf, explode
from pyspark.sql.types import ArrayType, StructType, StructField, FloatType
from pyspark.sql.functions import desc
from time import sleep
from pyspark.sql import Row
#from pyspark.sql.functions import min, max
from pyspark.sql.functions import col
from pyspark.sql.functions import split, explode, lower, trim
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, count, col
from pyspark.sql import SparkSession
from pyspark.sql.functions import row_number
from pyspark.sql.window import Window
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.functions import monotonically_increasing_id, concat, col, lit, cast
from pyspark.sql import SparkSession
from pyspark.sql.functions import collect_list, udf
from pyspark.sql.types import DoubleType
from pyspark.sql import SparkSession
from pyspark.sql.functions import initcap
import re
import subprocess

In [2]:
import pyspark

# Get PySpark version
print("PySpark version:", pyspark.__version__)

PySpark version: 3.5.0

this for terminal
setx JAVA_HOME "C:\Program Files\Java\jdk-11"

In [3]:
# # Create a SparkSession
# spark = SparkSession.builder \
#     .appName("HelloWorld") \
#     .getOrCreate()

# Create a DataFrame with a single column named "message" and a single row containing the string "Hello, World!"
data = [("Hello, World!",)]
df = spark.createDataFrame(data, ["message"])

# Show the DataFrame
df.show()

+-------------+
|      message|
+-------------+
|Hello, World!|
+-------------+

In [4]:
import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

df = spark.sql('''select 'spark' as hello ''')
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [5]:
df = spark.createDataFrame([("Spark", "Impala"), ("3.2", "2.2")])
df.show()

+-----+------+
|   _1|    _2|
+-----+------+
|Spark|Impala|
|  3.2|   2.2|
+-----+------+

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('PySpark_Tutorial') \
    .getOrCreate()

In [7]:
# data = pd.read_csv('data/Covid_data.csv')
data = pd.read_csv('data/original/Covid_data_full.csv')

# data[data['DATE_DIED']==9999-99-99]
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,97,2,40,97,2,...,2,2,2,2,2,2,2,2,7,97
1048571,1,13,2,2,9999-99-99,2,2,51,97,2,...,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,9999-99-99,97,2,55,97,2,...,2,2,2,2,2,2,2,2,7,97
1048573,2,13,2,1,9999-99-99,97,2,28,97,2,...,2,2,2,2,2,2,2,2,7,97
1048574,2,13,2,1,9999-99-99,97,2,52,97,2,...,2,2,2,2,2,2,2,2,7,97

In [8]:
# Read CSV file into table
df = spark.read.option("header",True) \
    .csv("data/original/Covid_data_full.csv")
df.printSchema()
df.show()

root
 |-- USMER: string (nullable = true)
 |-- MEDICAL_UNIT: string (nullable = true)
 |-- SEX: string (nullable = true)
 |-- PATIENT_TYPE: string (nullable = true)
 |-- DATE_DIED: string (nullable = true)
 |-- INTUBED: string (nullable = true)
 |-- PNEUMONIA: string (nullable = true)
 |-- AGE: string (nullable = true)
 |-- PREGNANT: string (nullable = true)
 |-- DIABETES: string (nullable = true)
 |-- COPD: string (nullable = true)
 |-- ASTHMA: string (nullable = true)
 |-- INMSUPR: string (nullable = true)
 |-- HIPERTENSION: string (nullable = true)
 |-- OTHER_DISEASE: string (nullable = true)
 |-- CARDIOVASCULAR: string (nullable = true)
 |-- OBESITY: string (nullable = true)
 |-- RENAL_CHRONIC: string (nullable = true)
 |-- TOBACCO: string (nullable = true)
 |-- CLASIFFICATION_FINAL: string (nullable = true)
 |-- ICU: string (nullable = true)
+-----+------------+---+------------+----------+-------+---------+---+--------+--------+----+------+-------+------------+-------------+--------------+-------+-------------+-------+--------------------+---+
|USMER|MEDICAL_UNIT|SEX|PATIENT_TYPE| DATE_DIED|INTUBED|PNEUMONIA|AGE|PREGNANT|DIABETES|COPD|ASTHMA|INMSUPR|HIPERTENSION|OTHER_DISEASE|CARDIOVASCULAR|OBESITY|RENAL_CHRONIC|TOBACCO|CLASIFFICATION_FINAL|ICU|
+-----+------------+---+------------+----------+-------+---------+---+--------+--------+----+------+-------+------------+-------------+--------------+-------+-------------+-------+--------------------+---+
|    2|           1|  1|           1|03/05/2020|     97|        1| 65|       2|       2|   2|     2|      2|           1|            2|             2|      2|            2|      2|                   3| 97|
|    2|           1|  2|           1|03/06/2020|     97|        1| 72|      97|       2|   2|     2|      2|           1|            2|             2|      1|            1|      2|                   5| 97|
|    2|           1|  2|           2|09/06/2020|      1|        2| 55|      97|       1|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3|  2|
|    2|           1|  1|           1|12/06/2020|     97|        2| 53|       2|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   7| 97|
|    2|           1|  2|           1|21/06/2020|     97|        2| 68|      97|       1|   2|     2|      2|           1|            2|             2|      2|            2|      2|                   3| 97|
|    2|           1|  1|           2|9999-99-99|      2|        1| 40|       2|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3|  2|
|    2|           1|  1|           1|9999-99-99|     97|        2| 64|       2|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3| 97|
|    2|           1|  1|           1|9999-99-99|     97|        1| 64|       2|       1|   2|     2|      1|           1|            2|             2|      2|            1|      2|                   3| 97|
|    2|           1|  1|           2|9999-99-99|      2|        2| 37|       2|       1|   2|     2|      2|           1|            2|             2|      1|            2|      2|                   3|  2|
|    2|           1|  1|           2|9999-99-99|      2|        2| 25|       2|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3|  2|
|    2|           1|  1|           1|9999-99-99|     97|        2| 38|       2|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3| 97|
|    2|           1|  2|           2|9999-99-99|      2|        2| 24|      97|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3|  2|
|    2|           1|  2|           2|9999-99-99|      2|        2| 30|      97|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3|  2|
|    2|           1|  2|           1|9999-99-99|     97|        2| 55|      97|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3| 97|
|    2|           1|  1|           1|9999-99-99|     97|        2| 48|       2|       1|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3| 97|
|    2|           1|  1|           1|9999-99-99|     97|        2| 23|       2|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3| 97|
|    2|           1|  1|           2|9999-99-99|      2|        1| 80|       2|       2|   2|     2|      2|           1|            2|             2|      2|            2|      2|                   3|  1|
|    2|           1|  2|           1|9999-99-99|     97|        2| 61|      97|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3| 97|
|    2|           1|  2|           1|9999-99-99|     97|        2| 54|      97|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3| 97|
|    2|           1|  1|           1|9999-99-99|     97|        2| 64|       2|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3| 97|
+-----+------------+---+------------+----------+-------+---------+---+--------+--------+----+------+-------+------------+-------------+--------------+-------+-------------+-------+--------------------+---+
only showing top 20 rows

In [9]:
df.createOrReplaceTempView('DATA')

In [10]:
# SQL Select query
spark.sql('''
    WITH TEMP_DATA AS (
    SELECT 
        CASE 
            WHEN DATE_DIED == '9999-99-99' THEN '31/12/9999' 
            ELSE DATE_DIED 
        END AS DATE_DIED_UPD
    FROM DATA)
    
    , TEMP_DATA_TRANS AS ( 
    SELECT  
        MONTH(TO_DATE(DATE_DIED_UPD, 'dd/MM/yyyy')) AS DATE_DIED_MM
    FROM
        TEMP_DATA )
        
    SELECT
        COUNT(DATE_DIED_MM),DATE_DIED_MM
    FROM
        TEMP_DATA_TRANS
    GROUP BY DATE_DIED_MM 
''') \
    .show(25)

+-------------------+------------+
|count(DATE_DIED_MM)|DATE_DIED_MM|
+-------------------+------------+
|             971656|          12|
|                399|           1|
|              25278|           6|
|                584|           3|
|              21363|           5|
|                 91|           9|
|               7096|           4|
|               1134|           8|
|              20457|           7|
|                 27|          10|
|                 18|          11|
|                472|           2|
+-------------------+------------+

In [11]:
# SQL Select query
spark.sql('''
    WITH TEMP_DATA AS (
    SELECT 
        CASE 
            WHEN DATE_DIED == '9999-99-99' THEN NULL 
            ELSE DATE_DIED 
        END AS DATE_DIED_UPD
    FROM DATA)
    
    , TEMP_DATA_TRANS AS ( 
    SELECT  
        MONTH(TO_DATE(DATE_DIED_UPD, 'dd/MM/yyyy')) AS DATE_DIED_MM
    FROM
        TEMP_DATA )
    
    SELECT  
        COUNT(DATE_DIED_NULL_RENAME),DATE_DIED_NULL_RENAME
    FROM 
    (
        SELECT 
            CASE
                WHEN DATE_DIED_MM IS NULL THEN 13
                ELSE DATE_DIED_MM
            END AS DATE_DIED_NULL_RENAME,   
        FROM
            TEMP_DATA_TRANS
    )
    GROUP BY DATE_DIED_NULL_RENAME 
''').show(25)

AnalysisException: [UNRESOLVED_COLUMN.WITHOUT_SUGGESTION] A column or function parameter with name `DATE_DIED_MM` cannot be resolved. ; line 22 pos 21;
'WithCTE
:- CTERelationDef 2, false
:  +- SubqueryAlias TEMP_DATA
:     +- Project [CASE WHEN (DATE_DIED#48 = 9999-99-99) THEN cast(null as string) ELSE DATE_DIED#48 END AS DATE_DIED_UPD#215]
:        +- SubqueryAlias data
:           +- View (`DATA`, [USMER#44,MEDICAL_UNIT#45,SEX#46,PATIENT_TYPE#47,DATE_DIED#48,INTUBED#49,PNEUMONIA#50,AGE#51,PREGNANT#52,DIABETES#53,COPD#54,ASTHMA#55,INMSUPR#56,HIPERTENSION#57,OTHER_DISEASE#58,CARDIOVASCULAR#59,OBESITY#60,RENAL_CHRONIC#61,TOBACCO#62,CLASIFFICATION_FINAL#63,ICU#64])
:              +- Relation [USMER#44,MEDICAL_UNIT#45,SEX#46,PATIENT_TYPE#47,DATE_DIED#48,INTUBED#49,PNEUMONIA#50,AGE#51,PREGNANT#52,DIABETES#53,COPD#54,ASTHMA#55,INMSUPR#56,HIPERTENSION#57,OTHER_DISEASE#58,CARDIOVASCULAR#59,OBESITY#60,RENAL_CHRONIC#61,TOBACCO#62,CLASIFFICATION_FINAL#63,ICU#64] csv
:- CTERelationDef 3, false
:  +- SubqueryAlias TEMP_DATA_TRANS
:     +- Project [month(to_date(DATE_DIED_UPD#215, Some(dd/MM/yyyy), Some(Europe/Moscow), false)) AS DATE_DIED_MM#216]
:        +- SubqueryAlias TEMP_DATA
:           +- CTERelationRef 2, true, [DATE_DIED_UPD#215]
+- 'Aggregate ['DATE_DIED_NULL_RENAME], [unresolvedalias('COUNT('DATE_DIED_NULL_RENAME), None), 'DATE_DIED_NULL_RENAME]
   +- 'SubqueryAlias __auto_generated_subquery_name
      +- 'Project [CASE WHEN isnull('DATE_DIED_MM) THEN 13 ELSE 'DATE_DIED_MM END AS DATE_DIED_NULL_RENAME#213, 'FROM AS TEMP_DATA_TRANS#214]
         +- OneRowRelation

In [ ]:
# SQL Select query
spark.sql('''
    WITH TEMP_DATA AS (
    SELECT 
        CASE 
            WHEN DATE_DIED == '9999-99-99' THEN NULL 
            ELSE DATE_DIED 
        END AS DATE_DIED_UPD
    FROM DATA)
    

    SELECT  
        MONTH(TO_DATE(DATE_DIED_UPD, 'dd/MM/yyyy')) AS DATE_DIED_MM
    FROM
        TEMP_DATA 

''') \
    .show(25)

In [ ]:
# SQL Select query
spark.sql('''
    WITH TEMP_DATA AS (
        SELECT 
            CASE 
                WHEN DATE_DIED = '9999-99-99' THEN NULL 
                ELSE DATE_DIED 
            END AS DATE_DIED_UPD
        FROM DATA
    )
    ,TEMP_DATA_TRANS AS ( 
        SELECT  
            MONTH(TO_DATE(DATE_DIED_UPD, 'dd/MM/yyyy')) AS DATE_DIED_MM
        FROM
            TEMP_DATA
    )
    SELECT  
        COUNT(DATE_DIED_NULL_RENAME) AS COUNT_DATE_DIED_NULL_RENAME,
        DATE_DIED_NULL_RENAME
    FROM 
    (
        SELECT 
            CASE
                WHEN DATE_DIED_MM IS NULL THEN '13'
                ELSE CAST(DATE_DIED_MM AS STRING)
            END AS DATE_DIED_NULL_RENAME
        FROM
            TEMP_DATA_TRANS
    )
    GROUP BY DATE_DIED_NULL_RENAME 
''').show(25)

In [12]:
# SQL Select query
spark.sql('''
    -- Corrected the comparison operator from '==' to '='
    WITH TEMP_DATA AS (
        SELECT 
            CASE 
                WHEN DATE_DIED == '9999-99-99' THEN NULL  
                ELSE DATE_DIED 
            END AS DATE_DIED_UPD
        FROM DATA
    ),
    TEMP_DATA_TRANS AS ( 
        SELECT  
            MONTH(TO_DATE(DATE_DIED_UPD, 'dd/MM/yyyy')) AS DATE_DIED_MM
        FROM
            TEMP_DATA
    )
    SELECT  
        COUNT(DATE_DIED_NULL_RENAME),
        DATE_DIED_NULL_RENAME
    FROM 
    (
        SELECT 
            CASE
                WHEN DATE_DIED_MM IS NULL THEN 13
                ELSE DATE_DIED_MM
            END AS DATE_DIED_NULL_RENAME
        FROM
            TEMP_DATA_TRANS
    )
    GROUP BY DATE_DIED_NULL_RENAME 
''').show(25)

+----------------------------+---------------------+
|count(DATE_DIED_NULL_RENAME)|DATE_DIED_NULL_RENAME|
+----------------------------+---------------------+
|                          23|                   12|
|                         399|                    1|
|                      971633|                   13|
|                       25278|                    6|
|                         584|                    3|
|                       21363|                    5|
|                          91|                    9|
|                        7096|                    4|
|                        1134|                    8|
|                       20457|                    7|
|                          27|                   10|
|                          18|                   11|
|                         472|                    2|
+----------------------------+---------------------+